.footer {
  background-color: var(--third-color);
  padding-top: 60px;
  padding-bottom: 60px;

  & .logo__text {
    color: var(--accent-first-color);
  }
}

.foot-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.foot-container__tablet {
  text-align: center;
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }
}

.logo-contacts {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
    display: block;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}

.logo--inverce {
  color: var(--primary-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.16;

  @media screen and (min-width: 1200px) {
    margin: 0 0 20px 0;
    font-size: 26px;
    line-height: 1.19;
  }

  // font-family: Raleway, sans-serif;
  // font-weight: 700;
  // font-size: 26px;
  // line-height: 1.19;
  // margin-top: 60;
  // margin-bottom: 20px;
}

.adress__link {
  color: var(--primary-color);

  font-size: 14px;
  line-height: 1.71;
}

.contacts__link {
  color: var(--contacts-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  transition: color 250ms var(--time-function);

  &:hover,
  &:focus {
    color: var(--accent-first-color);
  }
}

.contacts__item {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-start;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.join {
  // width: 206px;
  // margin-left: auto;
  // margin-right: auto;
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.join__title {
  text-align: center;
  font-weight: 700;

  margin-bottom: 20px;
  line-height: 1.14;

  text-transform: uppercase;

  color: var(--primary-color);
}

.social--footer {
  display: flex;
}

.social__item--inverce {
  width: 44px;
  height: 44px;
  margin-left: 10px;

  border-radius: 50%;

  &:first-child {
    margin-left: 0;
  }
}

.social__link--web {
  display: flex;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms var(--time-function);

  &:hover,
  &:focus {
    background-color: var(--accent-first-color);
  }
}

.social__icon--fill {
  fill: var(--primary-color);
}

/* ----------------subscribe----------------- */

.subscribe {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    width: 570px;
    display: flex;
    margin-left: 93px;
    flex-direction: column;
    align-items: center;
    align-items: baseline;
    padding: 0;
  }
  // display: flex;
}

.subscribe__form {
  @media screen and (min-width: 1200px) {
    display: flex;
    width: 570px;
  }
  // display: flex;
}

.subscribe__text {
  text-align: center;
  margin-bottom: 20px;

  font-weight: 700;

  line-height: 1.14;

  text-transform: uppercase;
  color: var(--primary-color);
}

.subscribe__label {
  display: flex;
  align-items: center;
}

.subscribe__input {
  width: 100%;
  // width: 450px;
  height: 50px;
  padding: 0 15px;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  background-color: var(--third-color);

  transition: border-color 250ms var(--time-function);

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 15px;
    width: 358px;
  }

  &:hover,
  &:focus {
    border-color: var(--accent-first-color);
  }
}

.subscribe-button {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;

  width: 200px;
  height: 50px;

  padding: 10px 28px;
  font-family: inherit;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;

  color: var(--primary-color);

  background-color: var(--accent-first-color);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: box-shadow 250ms var(--time-function),
    background-color 250ms var(--time-function);
  cursor: pointer;
}
.subscribe-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
