.header {
  display: flex;
  /* padding-top: 24px;
    padding-bottom: 25px; */
  border-bottom: 1px solid #ececec;

  & .container {
    display: flex;
    align-items: center;
  }

  & .logo-text {
    color: var(--accent-first-color);
  }
}

.nav {
  display: flex;
}

.logo {
  color: var(--accent-second-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  // padding-top: 24px;
  // padding-bottom: 25px;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  /* text-align: center;
    align-items: center; */

  & .site-nav__item + .site-nav__item {
    margin-left: 50px;
  }
}

.site-nav .site-nav__link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms var(--time-function);

  .site-nav &:hover,
  .site-nav &:focus {
    color: var(--accent-first-color);
  }
}

/* .site-nav .link. {
    color: var(--accent-first-color);
  } */

.site-nav .current {
  position: relative;
  color: var(--accent-first-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  display: block;

  background-color: var(--accent-first-color);
  border-radius: 2px;
}

.contacts-nav {
  display: flex;
  margin-left: auto;
  align-items: center;

  & .contacts-nav__item + .contacts-nav__item {
    margin-left: 50px;
  }
}

.contacts-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms var(--time-function);

  &:hover,
  &:focus {
    color: var(--accent-first-color);
  }
}

.contacts-nav__icon {
  width: 16px;
  height: 12px;
  display: inline-block;
  margin-right: 10px;
  align-items: center;
  fill: currentColor;
  justify-content: center;

  &:hover,
  &:focus {
    fill: var(--accent-first-color);
  }
}

.contacts-nav__icon--size {
  width: 10px;
  height: 16px;
  display: inline-block;
  margin-right: 10px;
  align-items: center;
  fill: currentColor;
  justify-content: center;

  &:hover,
  &:focus {
    fill: var(--accent-first-color);
  }
}
