.header {
  position: relative;
  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* padding-top: 24px;
    padding-bottom: 25px; */
  border-bottom: 1px solid #ececec;
  // @media screen and (min-width: 768px) {
  //   padding: 0;
  // }

  > .container {
    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }

  & .logo-text {
    color: var(--accent-first-color);
  }
}
.header__container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-second-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }

  // padding-top: 24px;
  // padding-bottom: 25px;
}

.site-nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 0;
  }

  /* text-align: center;
    align-items: center; */

  // & .site-nav__item + .site-nav__item {
  //   margin-left: 50px;
  // }
}
.site-nav__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.site-nav .site-nav__link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms var(--time-function);

  .site-nav &:hover,
  .site-nav &:focus {
    color: var(--accent-first-color);
  }
}

/* .site-nav .link. {
    color: var(--accent-first-color);
  } */

.site-nav .current {
  position: relative;
  color: var(--accent-first-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  display: block;

  background-color: var(--accent-first-color);
  border-radius: 2px;
}

.contacts-nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  & .contacts-nav__item + .contacts-nav__item {
    @media screen and (min-width: 1200px) {
      margin-left: 30px;
    }
  }
}

.contacts-nav__item:not(:last-child) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
}

.contacts-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;

  transition: color 250ms var(--time-function);

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  &:hover,
  &:focus {
    color: var(--accent-first-color);
  }
}

.contacts-nav__icon {
  width: 16px;
  height: 12px;
  display: inline-block;
  margin-right: 10px;
  align-items: center;
  fill: currentColor;
  justify-content: center;

  &:hover,
  &:focus {
    fill: var(--accent-first-color);
  }
}

.contacts-nav__icon--size {
  width: 10px;
  height: 16px;
  display: inline-block;
  margin-right: 10px;
  align-items: center;
  fill: currentColor;
  justify-content: center;

  &:hover,
  &:focus {
    fill: var(--accent-first-color);
  }
}

.menu-btn {
  display: block;
  border: none;
  background-color: transparent;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  opacity: 1;

  transition: 250ms opacity var(--time-function),
    visibility var(--time-function);

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu__container {
  padding: 48px 15px 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
}

.header__menu-btn {
  margin-left: auto;
  &:hover,
  &:focus {
    fill: var(--accent-first-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu__menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  &:hover,
  &:focus {
    fill: var(--accent-first-color);
  }
}

.mob-site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-site-nav__link {
  color: var(--title-text-color);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-first-color);
}

.mob-contact {
  margin-bottom: 64px;
}

.mob-contact__item-tel {
  margin-bottom: 32px;
}

.mob-contact__link-tel {
  color: var(--accent-first-color);
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mob-contact__link-mail {
  color: var(--primary-text-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  transition: color var(--timing-function) var(--cubic);
}

.mob-soc-link {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mob-soc-link__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-soc-link__link {
  color: var(--accent-first-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
