.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  // padding-top: 94px;
  // padding-bottom: 94px;
}

.button-filter {
  background-color: var(--second-color);
  color: var(--title-text-color);
  cursor: pointer;
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;

  transition: background-color 250ms var(--time-function),
    color 250ms var(--time-function), box-shadow 250ms var(--time-function);

  &:hover,
  &:focus {
    background-color: var(--accent-first-color);
    color: var(--primary-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio__filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px 8px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
  }
}
// display: flex;
// margin-bottom: 50px;
// justify-content: center;

// .portfolio__button:not(:last-child) {
//   @media screen and (min-width: 768px) {
//     margin-right: 8px;
//   }
// }

.card__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  & .label__titel {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
}

.card__link {
  transition: box-shadow 250ms var(--time-function);

  :hover,
  :focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card__list .label__direction {
  color: var(--primary-text-color);

  line-height: 1.88;
  margin-top: 4px;
}

.card__item {
  /* outline: 1px solid tomato; */
  // width: calc(100%-60px) / 3;
  width: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.card__box {
  position: relative;
  overflow: hidden;
}

.card__inform {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--time-function);

  .card__item:hover & {
    transform: translate(0);
  }
}

.card__text {
  font-size: 18px;
  line-height: 1.56;

  color: var(--primary-color);
}

.label {
  background-color: var(--primary-color);
  padding: 20px 24px;
  /* width: 370px; */
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
