.quality {
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}

.quality__title {
  color: var(--title-text-color);
  margin: 30px 0 10px 0;
}

.quality__list {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  & .quality__name {
    text-align: center;
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  & .quality__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.quality__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
  }
  // width: 450px;
  // margin-right: 30px;

  &::before {
    content: "";
    display: block;
    background-color: var(--second-color);
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  // &:last-child {
  //   margin-right: 0px;
  // }
}

.icon-antena::before {
  background-image: url(../images/antenna-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}

.icon-clock::before {
  background-image: url(../images/clock-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}

.icon-computer::before {
  background-image: url(../images/diagram-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}

.icon-cosmos::before {
  background-image: url(../images/astronaut-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}
