.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-color);
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  & .team__name {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
  }

  & .team__position {
    line-height: 1.18;
    text-align: center;
    margin-top: 10px;
  }
}

.team__member {
  text-align: center;
  background-color: var(--primary-color);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}

.team__item {
  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 450px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }

  // width: calc((100% - 120px) / 4);
  // margin-left: 30px;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
