:root {
  --primary-color: #ffffff;
  --second-color: #f5f4fa;
  --third-color: #2f303a;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --accent-first-color: #2196f3;
  --accent-second-color: #000000;
  --accent-third-color: #188ce8;
  --background-soc-icon: #afb1b8;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --box-shadow--accent: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
